/*--------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------GLOBALS-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

:root {
    --transition-time: .2s;
}

* {
    border-radius: 0 !important;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #ffffff;
    z-index: -5;
}

.hidden {
    display: none
}

.row {
    margin: 0;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------HERO-PAGE------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

.hero-image {
    background-image: linear-gradient(rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 50%), url("../img/hero.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.hero-title {
    text-align: center;
    font-weight: 300;
    font-size: 500%;
    color: #006da8;
}

.hero-info-box {
    color: white;
    background-color: rgba(118, 147, 170, 0.18);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    line-height: 180%;
    font-weight: 400;
}

.cloud {
    position: absolute;
    bottom: -30vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.cloud::before, .cloud::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1000%;
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
}

.cloud::before {
    background-image: url('../img/fog1.png');
    animation: drift 7000s linear 0s infinite;
}

.cloud::after {
    background-image: url('../img/clouds4.png');
    animation: drift 1400s linear 0s infinite;
}

@keyframes drift {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-900vw, 0, 0);
    }
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------NAVBAR-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


.navbar {
    background-color: rgba(0, 59, 98, 0.6) !important;
    overflow: hidden;
    width: 100vw;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.nav-it {
    color: white !important;
    font-weight: 300 !important;
    height: 100% !important;
}

.nav-it:hover {
    background-color: white !important;
    color: #005288 !important;
    text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------MODAL+CARDS----------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

.modal {
    transform: translate(0, -2vh) !important;
    opacity: 0 !important;

    transition: opacity var(--transition-time), transform var(--transition-time) !important;
    transition-timing-function: ease-out !important;

    -webkit-transition: opacity var(--transition-time), transform var(--transition-time) !important;
    -webkit-transition-timing-function: ease-out !important;
}

.modal.show {
    opacity: 1 !important;
    transform: none !important;
}

.container-fluid.hero-image, .container.hero-image {
    filter: none;
    transition: var(--transition-time) filter linear, var(--transition-time) transform linear;
    transform: none;

    -webkit-filter: none;
    -webkit-transition: var(--transition-time) -webkit-filter linear, var(--transition-time) -webkit-transform linear;
    -webkit-transform: none;
    overflow: hidden;
}

.modal-open .container-fluid.hero-image, .modal-open .container.hero-image {
    filter: blur(15px);
    transform: scale(.99);

    -webkit-filter: blur(15px);
    -webkit-transform: scale(.99);

    background-color: rgba(0, 0, 0, 0) !important;
    overflow: hidden;
}

.modal-backdrop {
    opacity: 0 !important;
}

.modal-content, .card {
    background: none;
    border: none;
}

.modal-header, .card-header {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #ffffff !important;
}

.modal-title, .card-title {
    color: #18669a;
}

.modal-title {
    font-size: 2em;
    font-weight: 300;
}

.card-title {
    font-size: 1.25em;
    font-weight: 400;
}

.modal-body, .card-body {
    background-color: rgba(255, 255, 255, 0.5);
}

.modal-footer, .card-footer {
    border: none;
    background: none;
}

.inter-button {
    border: none;
    background-color: hsla(204, 73%, 35%, 0.50) !important;
}

.closeModal {
    font-weight: 300;
    color: #18669a;
    text-shadow: none;
    opacity: 0.9;
}

.closeModal:hover {
    color: #2297e2;
    font-weight: 400;
    text-decoration: none;
}

.closeModal:active {
    text-decoration: none;
    transform: scale(0.7)
}

.btn-secondary {
    border: none;
    color: hsl(204, 39%, 40%);
    background-color: hsla(204, 100%, 88%, 0.44);
}

.btn-secondary:hover {
    color: hsl(204, 39%, 40%);
    background-color: hsla(202, 100%, 88%, 0.8);
}

.fill-v {
    height: 100%;
}
